<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>Randomizer</title>
      <meta name="author" content="name">
      <meta name="description" content="description here">
      <meta name="keywords" content="keywords,here">
    </head>
    <body>
        <h1><u>Randomizer</u></h1>

        {% block content %}
        {% endblock %}

        {% for message in messages %}
            <font color="red">{{ message }}</font><br>
        {% endfor %}
    </body>
</html>