{% extends 'base.html' %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="textArea" class="form-label">Items to randomize</label>
            <textarea class="form-control" id="textArea" rows="15" placeholder="Type in a list of items, each one on a different line" name="items" required></textarea>
        </div>
        <div class="form-group">
            <label for="numberInput" class="form-label mt-4">How many random values to select?</label>
            <input class="form-control" type="number" placeholder="Type in the number of random elements you want to output" name="count" required>
        </div>
        <br>
        <input type="submit" class="btn btn-primary" value="Randomize">
    </form>
{% endblock %}